<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bar-B-Queue</title>

    <!-- Latest compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />

  </head>
  <body>

    <div class="container">
     
      <header class="jumbotron">
        <h1 class="text-center"><span class="fa fa-fire"></span><span class="fa fa-fire"></span><span class="fa fa-fire"></span><a href="/">Bar-B-Queue</a><span class="fa fa-fire"></span><span class="fa fa-fire"></span><span class="fa fa-fire"></span></h1>
        <hr>
        <h2 class="text-center"><a href="/">Welcome to Bar-B-Queue!</a></h2>
        <br>
        <div class="text-center">
           <!-- Conditionally render login or logout links -->
           {{#if logged_in}}
           <a href="/profile">profile</a> |
           <button class="no-button" id="logout">logout</button>
           {{else}}
           <a href="/login">login</a>
           {{/if}}
          </div>
        </header>
  <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
  
      </div>
    
     <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
   

  </body>
</html>